div.analog-clock {
    width:250px;
    height:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
 
    div.analog-clock div.movement-board {
        /* position:relative; */
        /* border solid 2pxをwidth・heightに含める */
        box-sizing:border-box;
        border:2px solid #666;
        border-radius:50%;
        width:100%;
        height:100%;
        /* background-color:#f5f5f5; */
        background-color: yellow;
    }
 /* z-indexは必要だったのか（　＾ω＾）・・・ */
        div.analog-clock div.movement-board ol.dial {
            margin:0;
            padding:0;
            position:absolute;
            top:50%;
            left:50%;
            /* z-index:1; */
            list-style:none;
            /* background-color: red; */
        }
 
            div.analog-clock div.movement-board ol.dial li {
                position:absolute;
                top:-0.5em;
                left:-0.25em;
                font-size:2rem;
                line-height:1em;
            }
 
            div.analog-clock div.movement-board ol.dial li:nth-last-child(1) {
                transform:translate(52.5px, -90.93px);
            }
 
            div.analog-clock div.movement-board ol.dial li:nth-last-child(-n+3) {
                left:-0.5em;
            }
 
        div.analog-clock div.movement-board p.hands {
            margin:0;
            position:absolute;
            top:50%;
            left:50%;
            z-index:3;
        }
 
            div.analog-clock div.movement-board p.hands span.hour-hand {
                display:block;
                position:absolute;
                left:-2px;
                bottom:0;
                width:5px;
                height:70px;
                background-color:#ea3f8d;
                transform-origin:50% bottom;
            }
 
            div.analog-clock div.movement-board p.hands span.minute-hand {
                display:block;
                position:absolute;
                left:-1px;
                bottom:0;
                width:3px;
                height:90px;
                background-color:#ea3f8d;
                transform-origin:50% bottom;
            }
 
            div.analog-clock div.movement-board p.hands span.second-hand {
                display:block;
                position:absolute;
                left:0;
                bottom:0;
                width:1px;
                height:115px;
                background-color:#ea3f8d;
                transform-origin:50% bottom;
            }
 
            div.analog-clock div.movement-board p.hands span.cap {
                display:block;
                position:absolute;
                left:-10px;
                bottom:-10px;
                box-sizing:border-box;
                border:1px solid #888;
                border-radius:50%;
                width:20px;
                height:20px;
                background-color:#fff;
            }
 
        div.analog-clock div.movement-board p.digital-time {
            position:absolute;
            bottom:25%;
            left:50%;
            z-index:2;
            margin:0;
            padding:2px;
            min-width:100px;
            background-color:#fff;
            box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
            transform:translate(-50%, 0);
            text-align:center;
            letter-spacing:-1em;
        }
 
            div.analog-clock div.movement-board p.digital-time span {
                display:inline-block;
            }
 
            div.analog-clock div.movement-board p.digital-time span.hour {}
 
            div.analog-clock div.movement-board p.digital-time span.hour::after {
                content:":";
            }
 
            div.analog-clock div.movement-board p.digital-time span.minute {}
 
            div.analog-clock div.movement-board p.digital-time span.minute::after {
                content:":";
            }
 
            div.analog-clock div.movement-board p.digital-time span.second {}