body{

.main{
    width: 1200px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    background-color: black;

     .round{
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%, -50%);
          width: 600px;
          height: 500px;
         background-color: red;
    }
}
}